html, body {
  height: 100%;
}

body {
  background: #fafafa;
}

.dino {
  background-image: url(/assets/img/dino.png);
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 60px;
}

.cactus {
  background-image: url(/assets/img/cactus.png);
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 60px;
}

.game-over {
  text-align: center;
  /* color: #666666; */
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serifx;
  font-style: italic;
  
  width:100%;
  
  color:#313131;
  font-size:45px;
  font-weight: bold;
  position: absolute;
  -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}

@keyframes slideright {
  from {
    background-position: 70000%;
  }

  to {
    background-position: 0;
  }
}

.background {
  position: absolute;
  bottom: 0;
  background-image: url(/assets/img/background.png);
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;;
}